<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
					       http://www.springframework.org/schema/tx
					       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
					       http://www.springframework.org/schema/aop 
					       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
                           
        <bean id="helloWorld" class="com.n.spring.beans.sample.HelloWorld"> 
        	<!-- constructor type dependency injection -->
        	<constructor-arg value="Spring World"></constructor-arg>
        	<!-- setter property dependency injection -->   
        	<!-- <property name="greetings" value="Nagasree"></property> -->    
        </bean>   
        
        <bean id="singletonEx" class="com.n.spring.beans.sample.SingletonImpl" factory-method="getInstance">
        </bean>     
        
        <bean id="propertyConfigurator" 
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" p:location="jdbc.properties"/>
        
        <bean id="dataSrc" class="org.apache.commons.dbcp2.BasicDataSource">
        	<property name="driverClassName" value="${jdbc.mySqlDriverClassName}"></property>
        	<property name="url" value="${jdbc.mySqlDriverUrl}"></property>
        	<property name="username" value="${jdbc.mySqlUserName}"></property>
			<property name="password" value="${jdbc.mySqlPwd}"></property>
        </bean>
        
        <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        	<property name="dataSource" ref="dataSrc"/>
        	<property name="configLocation">
        			 <value>classpath:hibernateConfig.hbm.xml</value>
        	</property>
        	<property name="hibernateProperties">
        		<props>
        			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
        			<prop key="hibernate.show_sql">true</prop>
        		</props>
        	</property>
        </bean>     
        <bean id="trxManager"
	        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	        <property name="sessionFactory" ref="sessionFactory" />
	    </bean>
	    
	    <bean id="employeeDao" class="com.n.hibernate.entity.dao.EmployeeDaoImpl">
	    	<property name="sessionFactory" ref="sessionFactory"/>
	    </bean>       
	    
	    <bean id="employeeService" class="com.n.spring.hibernate.service.EmployeeService">
	    	<property name="employeeDao" ref="employeeDao"/>
	    </bean>
	    
	    <tx:advice id="trxAdvice" transaction-manager="trxManager">
	    	<tx:attributes>
	    		<tx:method name="*"/>
	    	</tx:attributes>
	    </tx:advice>
	    
	    <aop:config>
	    	<aop:pointcut expression="execution(* com.n.spring.hibernate.service.*.*(..))" id="serviceApis"/>
	    	<aop:advisor advice-ref="trxAdvice" pointcut-ref="serviceApis"/>
	    </aop:config>
</beans>